{% extends 'baseHTML.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block stylesheet %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <!-- Default form subscription -->
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <h4 class="h4"><br/></h4>
            </div>

            <form method="post" id="start_search_form" action="{% url 'index' %}">
                {{ form.company_name }}
                {{ form.keywords }}
                <input type="submit" class="fadeIn fourth" value="Search">
            </form>

            <div id="formFooter">
{#                <a class="underlineHover" href="#">검색 예약</a>#}
            </div>

        </div>
    </div>


    <div class="wrapper">
        <div class="formContentMaxWidthFull">
        <table class="table" id="ranking_table">
            <thead>
            <tr>
                <th>상호명</th>
                <th>상품명</th>
                <th>가격</th>
                <th>카테고리</th>
                <th>랭킹</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        </div>
    </div>

<!--    <div>-->
<!--        <table class="table" id="ranking_table">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>상호명</th>-->
<!--                <th>상품명</th>-->
<!--                <th>가격</th>-->
<!--                <th>카테고리</th>-->
<!--                <th>랭킹</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->



{% endblock %}

{% block js %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
